html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-bosx;
}

input[type="radio"] {
  display: none;
}

.form-tick:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

::selection {
  background-color: #e57928;
  color: #fefefe;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

@font-face {
  font-display: optional;
}

@layer components {
  .global-wrapper {
    @apply h-full dark:bg-blackish pb-10;
  }
  .default-container {
    @apply max-w-2xl m-auto px-4 flex flex-col space-y-3 mb-4;
  }
  .large-container {
    @apply max-w-3xl m-auto px-2 space-y-4;
  }
  .billboard {
    @apply font-medium sm:text-5xl text-3xl mb-4 text-blackish dark:text-white;
  }
  .h1 {
    @apply mb-2 mt-8 dark:text-white text-xl;
  }
  .h2 {
    @apply text-gray-900 dark:text-white text-lg;
  }
  .h2-medium {
    @apply font-medium dark:text-white;
  }
  .h3 {
    @apply text-gray-900 dark:text-white;
  }
  .paragraph-1 {
    @apply text-gray-500 text-regular dark:text-gray-400 leading-relaxed;
  }
  .subtitle-text {
    @apply text-sm text-gray-400 dark:text-gray-500;
  }
  .quote-text {
    @apply italic text-gray-500 dark:text-gray-300;
  }
  .inline-link {
    @apply text-draplin hover:text-gray-900 dark:hover:text-white transition-all;
  }
  .ul {
    @apply paragraph-1 list-disc list-inside pl-3;
  }
  .nl {
    @apply paragraph-1 list-decimal list-inside pl-3;
  }
  .img {
    @apply block w-full sm:rounded-md rounded-sm sm:mb-4 mb-2;
  }
  .img-subtitle {
    @apply block w-full sm:rounded-md rounded-sm sm:mb-1 mb-2;
  }
  .spacer-default {
    @apply py-5;
  }
  .star-rating {
    @apply stroke-current fill-current text-gray-200 dark:text-gray-700 hover:text-draplin dark:hover:text-draplin transition-all cursor-pointer;
  }
  .code-inline {
    @apply inline text-code font-medium font-mono bg-gray-200 dark:bg-gray-700 dark:text-gray-200 rounded-md px-1 py-0.5;
  }
  .work-grid {
    @apply grid sm:grid-cols-2 grid-cols-1 gap-8 px-2 sm:px-0;
  }
}
